.vscode/settings.json
__pycache__/project.cpython-310.pyc
project.egg-info/dependency_links.txt
project.egg-info/entry_points.txt
project.egg-info/PKG-INFO
project.egg-info/SOURCES.txt
project.egg-info/top_level.txt
.vscode/settings.json
